
<div>
  <table border="1">
    <tr>
      <th>
        Image
      </th>

      <th>
        Title
      </th>

      <th>
      </th>

    </tr>

    <% @list_of_photos.each do |a_photo| %>
      <tr>

        <td>
          <img src="<%= a_photo.image %>" style="height: 200px;">
        </td>

        <td>
          <%= a_photo.title %>
        </td>

        <td>
          <div> <a href="/photos/<%= a_photo.id %>">Show details</a> </div>

          <% if current_user != nil%>
            <% if a_photo.creator_id != current_user.id %>
              <div> <a href="/insert_pin/<%= a_photo.id %>">Pin photo</a> </div>
            <% end %>
          <% end %>
        </td>

      </tr>
    <% end %>
  </table>
</div>

<hr>
