<div>
  <div>
    <h2>
      Add a new photo
    </h2>

    <form action="/insert_photo" method="post">
      <div>
        <label for="creator_id_box">
          Creator
        </label>

        <input type="text" id="creator_id_box" name="query_creator_id">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image">
      </div>

      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title">
      </div>

      <div>
        <label for="album_id_box">
          Album
        </label>

        <input type="text" id="album_id_box" name="query_album_id">
      </div>

      <button>
        Create photo
      </button>
    </form>
  </div>
</div>

<hr>
